<app-botao (click)="abrirModal()">
    <img src="icones/carteira.svg" alt="" class="icone-botao" />
    Adicionar conta
</app-botao>

<app-modal-base [(aberto)]="modalAberto">
    <ng-container cabecalho-modal>
        <img src="icones/carteira.svg" alt="" class="icone-modal">
        <h2 class="texto-lg">Adicionar conta</h2>
    </ng-container>

    <form class="form-modal" (ngSubmit)="aoSubmeter()" ngNativeValidate>
        <label class="label-modal">
            <span>Banco</span>
            <input [(ngModel)]="novaContaForm.nome" class="input" type="text" name="nome-conta"/>
        </label>
        
        <label class="label-modal">
            <span>Saldo</span>
            <input [(ngModel)]="novaContaForm.saldoInicial" 
                class="input" 
                type="number" 
                name="valor-conta" 
                placeholder="R$ 500,00"
                min="0.01" 
                step="0.01" 
                required />
        </label>

        <app-botao class="botao-adicionar-conta">
            Adicionar
        </app-botao>
    </form>
</app-modal-base>